<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] </title>
    <link rel="icon" href="~/Logotipo-Medicina-Simple-Azul-y-Blanco.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="margin: 0;">

    <nav class="navbar shadow navbar-expand-lg fixed-top bg-light navbar-light">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home", new {})">
                <img id="logo"
                     src="~/img/Logotipo Medicina Simple Azul y Blanco (3).png"
                     draggable="false"
                     height="80"
                     width="90"/>
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item">
                        @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link mx-2" })
                    </li>
                    @if (Session["Cliente"] != null)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Cita", "Cita", "Home", null, new { @class = "nav-link mx-2" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Mis Citas", "Mis_Citas", "Home", null, new { @class = "nav-link mx-2" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Cerrar Sesión", "Cerrar_sesion", "Home", null, new { @class = "btn btn-dark rounded-pill", id = "login-btn" })
                        </li>
                    }
                    <li class="nav-item ms-3">
                        @if (Session["Cliente"] == null)
                        {
                            @Html.ActionLink("Iniciar Sesión", "Login", "Home", null, new { @class = "btn btn-dark rounded-pill", style="border-radius:", id = "login-btn" })
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()


    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">Copyright &copy; FIMED 2023</div>
                <div class="col-lg-4 my-3 my-lg-0">
                </div>
                <div class="col-lg-4 text-lg-end">
                    Privacy Policy
                   Terms of Use
                </div>
            </div>
        </div>
    </footer>
    <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/scripts.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>